<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="NeontechConnection"
			 connectionString="Host=ep-icy-fire-ah1f4wwb-pooler.c-3.us-east-1.aws.neon.tech;Database=neondb;Username=neondb_owner;Password=npg_2Mkge1yEHQDz;Ssl Mode=Require;Trust Server Certificate=true"
			 providerName="Npgsql" />
	</connectionStrings>
</configuration>